@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.</h1>
    <h3>Ben Murat Cankat KÖK</h3>
    <p> ASP.NET Core ile web geliştirmesi yapıyorum.</p>
</div>
